type diag_device, dev_type;

# SMD device, used by hci_qcomm_init
type smd_device, dev_type;

# Shared memory logger
type shared_log_device, dev_type;

type rmt_device, dev_type;
type rmt_block_device, dev_type;
type tad_block_device, dev_type;
type iddd_block_device, dev_type;
type oncrpc_device, dev_type; 
type tzcom_device, dev_type;

#Superuser Embedded
type su_device, dev_type, mlstrustedobject;
