# iddd
type iddd, domain;
type iddd_exec, exec_type, file_type;

# Started by init
init_daemon_domain(iddd)

allow iddd self:process execmem;
allow iddd idd_data_file:file create_file_perms;
allow iddd idd_data_file:dir create_dir_perms;
allow iddd idd_data_file:sock_file create_file_perms;
allow iddd iddd_exec:file { execute_no_trans execmod };

# link with /system/lib/libprotobuf-c.so
allow iddd system_file:file execmod;

# idd-logreader
allow iddd log_device:chr_file { read open };
allow iddd log_device:dir search;
