allow init wpa_socket:unix_dgram_socket { bind create };
allow init self:process execmem;

#mount mmcblk0p10 with idd context
allow init idd_data_file:filesystem { relabelfrom relabelto mount };
allow idd_data_file self:filesystem associate;

#TODO: review (requested with M)
allow init sysfs_wake_lock:file getattr;
allow init system_file:file { execmod };
allow init tad:unix_stream_socket connectto;
allow init tad_socket:sock_file write;

#Superuser Embedded
allow init su:process { siginh transition rlimitinh noatsecure };
#allow init su_exec:file rx_file_perms;
allow init su_exec:file { read getattr open execute };
allow init su_device:sock_file relabelto;
allow init su_device:dir relabelto;
allow init device:dir relabelfrom; #/init.superuser.rc
allow init device:sock_file { relabelfrom getattr }; #/init.superuser.rc

#SuperSU support
allow init system_file:file execute_no_trans;
allow zygote init:unix_stream_socket { read write };
allow init kernel:security { load_policy read_policy};
