unix_socket_connect(platform_app, property, init)
allow platform_app default_prop:property_service set;
allow platform_app property_socket:sock_file write;

#ROM Updater
set_prop(platform_app, system_prop)

#QS ADB over Network
set_prop(platform_app, ctl_default_prop)
set_prop(platform_app, shell_prop)

#QS FastCharge
allow platform_app sysfs_fastcharge:file { write read open getattr};

#Allow NFC service to be found
allow platform_app nfc_service:service_manager find;

#QS Jack Detection Force
allow platform_app sysfs_jack:file { write read open getattr};

