unix_socket_connect(platform_app, property, init)
allow platform_app default_prop:property_service set;
allow platform_app property_socket:sock_file write;

#QS FastCharge
allow platform_app sysfs_fastcharge:file { write read open getattr};

#QS ScreenColor
allow platform_app sysfs_mdp:file { write read open getattr };

