# ppd
type ppd, domain;
type ppd_exec, exec_type, file_type;

# Started by init
init_daemon_domain(ppd)

allow ppd property_socket:sock_file write;
allow ppd self:process execmem;
allow ppd system_prop:property_service set;
allow ppd ppd_socket:unix_stream_socket { accept listen read write connectto };
allow ppd init:unix_stream_socket { read write connectto accept listen };
allow ppd ppd_exec:file execmod;

#/system/lib/libmm-abl.so
allow ppd system_file:file execmod;
