# qosmgrd
type qosmgrd, domain;
type qosmgrd_exec, exec_type, file_type;

# Started by init
init_daemon_domain(qosmgrd)

allow qosmgrd self:process execmem;
allow qosmgrd qosmgrd_exec:file execmod;
