# secchand
type secchand, domain;
type secchand_exec, exec_type, file_type;

# Started by init
init_daemon_domain(secchand)

allow secchand self:process execmem;
allow secchand secchand_exec:file execmod;

#/system/lib/liboem_rapi.so
allow secchand system_file:file execmod;

allow secchand tad:unix_stream_socket connectto;
allow secchand tad_socket:sock_file { read write };

allow secchand radio_device:chr_file rw_file_perms;
allow secchand oncrpc_device:chr_file rw_file_perms;
allow secchand tzcom_device:chr_file rw_file_perms;
