# suntrold
type suntrold, domain;
type suntrold_exec, exec_type, file_type;

# Started by init
init_daemon_domain(suntrold)

allow suntrold self:process execmem;

#/system/lib/lib_asb_tee.so
allow suntrold suntrold_exec:file execmod;
allow suntrold system_file:file execmod;

#/dev/socket/tad
allow suntrold tad:unix_stream_socket connectto;
allow suntrold tad_socket:sock_file write;

#suntrold.sock
allow suntrold socket_device:dir { add_name write };
allow suntrold socket_device:sock_file { create setattr };

allow suntrold tzcom_device:chr_file { ioctl open read write };

allow suntrold system_data_file:dir create_dir_perms;
