allow system_app sysfs_wakeup:file rw_file_perms;
allow system_app sysfs_fastcharge:file rw_file_perms;

#nAOSP Settings
allow system_app default_prop:property_service set;
allow system_app sysfs_mdp:file rw_file_perms;

#WakeUp Application
allow system_app input_device:dir search;
allow system_app input_device:chr_file r_file_perms;
