# Grant access to Qualcomm MSM Interface (QMI) radio sockets to system services
# (e.g., LocationManager)
qmux_socket(system_server)

allow system_server radio_device:chr_file rw_file_perms;
allow system_server oncrpc_device:chr_file rw_file_perms;

allow system_server system_file:file execmod;
allow system_server etc_data_file:file r_file_perms;
allow system_server etc_data_file:dir search;

#Night Display with Kcal
allow system_server sysfs_mdp:file { write read open getattr };
