# touchd
type touchd, domain;
type touchd_exec, exec_type, file_type;

# Started by init
init_daemon_domain(touchd)

allow touchd self:capability dac_override;
allow touchd self:netlink_kobject_uevent_socket { read bind create };
allow touchd self:process execmem;
allow touchd touchd_exec:file execmod;
allow touchd sysfs_touchd:file rw_file_perms;

# wake lock access
wakelock_use(touchd)

#power_supply and /sys/devices/platform/msm_ssbi.0/pm8058-core/pm8xxx-pwrkey/input/input0/
#to improve
allow touchd sysfs:dir { open read };
allow touchd sysfs:file { getattr open read };

